<td-layout-manage-list #manageList
                       [opened]="media.registerQuery('gt-sm') | async"
                       [mode]="(media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
                       [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '75%'">
  <md-toolbar td-sidenav-content>
    <span>Benutzerverwaltung</span>
  </md-toolbar>
  <md-nav-list td-sidenav-content
               (click)="!media.query('gt-sm') && manageList.close()">
    <a md-list-item routerLink="admittances">
      <md-icon>rate_review</md-icon>
      Bewerbungen
    </a>
    <a md-list-item>
      <md-icon>school</md-icon>
      Rekruten</a>
    <md-divider></md-divider>
    <a md-list-item>
      <md-icon>people</md-icon>
      Mitglieder</a>
  </md-nav-list>
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <span>{{title}}</span>
    <span flex></span>
    <!-- TODO: add buttons later on -->
  </div>
  <router-outlet></router-outlet>
</td-layout-manage-list>
