<td-layout-card-over cardTitle="Bewerbungsformular" cardSubtitle="Antrag zur Aufnahme bei AeQ eSports" cardWidth="75">
  <md-card-content>
    <td-steps mode="'vertical'">
      <td-step #step1 label="Allgemeine Informationen" [state]="stepState1">
        <section>
          <span>Damit andere Spieler wissen wie du heißt, gib bitte deinen Namen an.</span>
          <div class="form-group">
            <div class="equal-width">
              <md-input-container class="equal-width-item">
                <input class="" mdInput type="text" formControlName="first_name"
                       placeholder="Vorname">
              </md-input-container>
              <md-input-container class="equal-width-item">
                <input mdInput type="text" formControlName="last_name"
                       placeholder="Nachname">
              </md-input-container>
            </div>
            <md-input-container id="txtEmail">
              <input mdInput type="text" formControlName="email"
                     placeholder="E-Mail-Adresse">
            </md-input-container>
          </div>
        </section>

        <section>
          <span>Bitte wähle deinen eideutigen Benutzernamen und ein Passwort, mit dem du dich anmelden kannst.</span>
          <div class="form-group">
            <md-input-container id="txtUsername">
              <input mdInput type="text" formControlName="username"
                     placeholder="Benutzername">
            </md-input-container>
            <div class="equal-width">
              <md-input-container class="equal-width-item">
                <input mdInput type="password" formControlName="password"
                       placeholder="Passwort">
              </md-input-container>
              <md-input-container class="equal-width-item">
                <input mdInput type="password" formControlName="password_repeat"
                       placeholder="Passwort wiederholen">
              </md-input-container>
            </div>
          </div>
        </section>
      </td-step>
      <td-step label="Zugehörige Spiele">
        <aem-game-card game="Test"></aem-game-card>
      </td-step>
      <td-step label="Bewerbung">

      </td-step>
      <td-step label="Clanregeln">

      </td-step>
    </td-steps>
  </md-card-content>
</td-layout-card-over>
