<td-layout-nav-list #navList
                    logo="assets:teradata"
                    toolbarTitle="AeQ eSports Mananger"
                    navigationRoute="/"
                    [opened]="media.registerQuery('gt-sm') | async"
                    [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
                    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '350px' : '100%'">
  <md-nav-list td-sidenav-content
               (click)="!media.query('gt-sm') && navList.close()">
    <a md-list-item>
      <md-icon md-list-avatar>person</md-icon>
      <h3 md-line>Harald Lenz</h3>
      <p md-line>15.05.2017 18:15</p>
    </a>
    <md-divider md-inset></md-divider>
    <a md-list-item>
      <md-icon md-list-avatar>person</md-icon>
      <h3 md-line>Lisa Tekken</h3>
      <p md-line>18.05.2017 14:46</p>
    </a>
  </md-nav-list>
  <div td-toolbar-content layout="row" flex>
    <span>Bewerbungen</span>
    <span flex></span>
  </div>
  <router-outlet></router-outlet>
</td-layout-nav-list>
